PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=teste
DRIVE_DISK=local
DB_CONNECTION=pg
PG_HOST=localhost
PG_PORT=5432
PG_USER=lucid
PG_PASSWORD=
PG_DB_NAME=lucid
HASH_DRIVER=bcrypt

APP_NAME=AdonisJs
APP_URL=http://${HOST}:${PORT}
CACHE_VIEWS=false
SMTP_PORT=
SMTP_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=
MAILGUN_DOMAIN=
MAILGUN_API_KEY=
SENTRY_DSN
Test deploy
