Olá, que bom que você deixou seu currículo conosco!

Sempre divulgamos novas vagas em nossa página do facebook, Instagram, site e canais que permitem divulgar vagas. 

Você também pode divulgar nosso contato para sua rede de relacionamento, será muito bom poder receber suas indicações. 

Desejamos prosperidade a você e vamos em frente!

Equipe BRAINFIT.