<strong>Ativar Cadastro</strong>

<p>
  Seu cadastro no site brainfit foi realizado para o e-mail ({{ email }}).
  Se você não foi o autor <a>clique aqui</a>.
</p>

<p>
  Para continuar com o cadastro clique no link abaixo:
</p>

<a href="{{link}}">Ativar cadastro</a>
